.card:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: ease-in 300ms;
  box-sizing: border-box;
  box-shadow: 2px;
}
.card > img {
  height: 16rem;
  padding: 14px;
  border-radius: 20px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row {
  margin-left: auto;
  margin-right: auto;
}
